@{
    ViewData["Title"] = "How it Works";
}
<h1>@ViewData["Title"]</h1>

<p>How to get started on BookExchange</p>
<ol>
    <li>
        Register:
        Create an Account by clicking the Register link at the top
    </li>
  
    <li>
        You can check out all the books that have been listed on the Book listing page.
    </li>
  
    <li>
        Click on the My books link to add books to your bookshelf.<br />
        Here you can view, edit, delete, and create books that you would like to exchange.
        You can view all the details of each book you've saved.
    </li>
</ol>
