@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the Book Exchange</h1>
        <br />
        <br />
        <br />
        <br />
        <p>
            Looking for a your next great read? <br />
            You're in the right place!  <br />
            You can search through books other members heve posted <br />
            Post your own books to trade or give away.<br />
            This site is intended for readers who want to share great books with each other.
        </p>


    </div>
